body {
color: grey;
}

header {
  font-size: 15px;
  color:  rgb(67, 158, 211);
  background-color: whitesmoke; 
  border: 1px solid grey;
  padding: 3px; 
}

header span {
  color: rgb(145, 184, 206);
}

.container {
  height: 800px;
  margin: 0 5px;
  background-color:rgba(67, 158, 211, 0.9);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  border-radius: 50%;
  border-color: white ;
  border: 3px solid;
  border-bottom: transparent;
}

.info h1 {
  padding-left: 20px;
}

.info {
  padding: 20px;
  background-color:rgb(37, 151, 218);
  margin: 5px;
  border: 1px solid;
  border-color: white;
}


.wrapper {
  color: white;
  background-color: rgb(83, 180, 204);
  margin: 10px;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(21, 48, 54);
}

address {
  color: rgb(51, 48, 48);
  text-align: right;
}

.hidden_box p {
height: auto;
width: 500px
}

.header-left {
  margin-left: 5px;
}

.hidden_box {
  margin: 2em 0;
  padding: 0;
}

.hidden_box label {
  padding:15px;
  font-weight: bold;
  border: none 2px;
  cursor: pointer;
}

.hidden_box label:hover {
  background: white;
}

.-input {
  display: none;
} 

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height:0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 2s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
} 

.contents ul {
  list-style: none;
}
